<!DOCTYPE html>
{% extends 'iptables/base.html' %}
{% block title %}Index{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h1>ICLab: Measurement Platform</h1>

</div>
{% comment %}
<div class="row-fluid">
    <div class="span6">
        <h2>Top Five Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/Tango/category/{{ category.url }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No categories at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
    <div class="span6">
        <h2>Top Five Pages</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category }} ({{ page.views }} view(s))</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
</div>{% endcomment %}
<!--/row-->
{% endblock %}
{% comment %}

{% if user.is_authenticated %}
<a href="/Tango/restricted/">Restricted Page</a><br />
<a href="/Tango/logout/">Logout</a><br />
{% else %}
<a href="/Tango/register/">Register Here</a><br />
<a href="/Tango/login/">Login</a><br />
{% endif %}

<a href="/Tango/about/">About</a><br/>
<a href="/Tango/add_category/">Add a New Category</a><br />
{% endcomment %}
